---
// This is the Component Script area (Frontmatter)
// It can be completely empty, but the fences must exist 
// if you want to execute build-time JS later.
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minimal Astro</title>
</head>
<body>
    <h1>Hello World</h1>
</body>
</html>

