---
// Component script runs at build time
const greeting = "Hello World";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Minimal Astro</title>
  </head>
  <body>
    <h1>{greeting}</h1>
  </body>
</html>

