---
// This is the Astro Component Script.
// It runs on the server when the page is requested.
// For our minimal Hello World, we don't need any code here!
---

<html>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>
