---
import Hello from "../components/hello.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
</head>
<body>
  <h1>Home page</h1>
  <Hello/>
</body>
</html>
